@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html{
overflow-x: hidden;
scroll-behavior: smooth;
}
body{
 /* height:1500vh; */
 overflow-x: hidden;
}
.site-nav{
    background-color: #ffffff;
    position: absolute;
    top: 0;
    z-index:50;
    
}
.site-nav-scroll{
    position:fixed;
    background-color: #ffffff;
    box-shadow:0 0 5px #00000020;
    animation:toShow 1s linear;
     
}
@keyframes toShow{
    from{
       transform:translateY(-200px);
    }to{
       transform: translateY(0);
    }

}
.nav-links {
    pointer-events: all !important;
    cursor: pointer;
    z-index: 100000;
}
.navbar-toggler:focus{
    outline: none;

}
section {
    pointer-events: none !important;
}
.site-logo{
    font-size:30px;
}
.home{
    
}
.about{

}
.aboutImg-one{
    width: 70px;
    height: 70px;
}
.about-start{
    background-image:url("bg-2.svg");
    background-size: 100%;
    background-position: center;
}
.about-end{
    background-image:url("bg-3.svg");
    background-size: 100%;
    background-position: center;

}
.ImgAdv{
    width: 50px;
    height: 50px;
    color:#74b9ff;
    
}
.groupImg{
    /* height: 400px; */
}

.CEO-Area:hover{
box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.CEO-IMG{
    width: 250px;
    height: 270px;
    align-items: center;
}
.Ceo-Icons{
    
    position: absolute;
    top: 16px;
    left: 34px;
    display: none;
}
.Ceo-Icons:nth-child(1):hover{
 color: cornflowerblue;
}
.Ceo-Icons:nth-child(2):hover{
    color: cornflowerblue;
}
.Ceo-Icons:nth-child(3):hover{
    color: cornflowerblue;
   }

/* .Ceo-Icons:hover{
    color: cornflowerblue; 
} */
.CEO-Area{
    position: relative;
}
.feedbackImg{
    width:150px;
    
}
.FeedBack-Customer{
    background-color: #7E76F915;
}
.customerfeed{
outline:none;
}
.CompanyIMG{

}
.companynew-one{
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.final-contact{
    background-image:url("bg-3.svg");
    background-size: 100%;
    background-position: center;
}
#final-menu{
    text-decoration:none;
}
.gg a:hover{
    color:#ff4757;
}
.sar:hover{
    color:#ff4757;
}
.final-footer{
    background-color: #7E76F915;
}
/* .ani-delay-1{
    animation-delay: 0.5s;
}
.ani-delay-2{
    animation-delay:0.6s;
}
.ani-delay-3{
    animation-delay:0.7s;
}
.ani-delay-4{
    animation-delay:0.7s;
}
.ani-delay-5{
    animation-delay:0.8s;
}
.ani-delay-6{
    animation-delay:0.9s;
}
.ani-delay-7{
    animation-delay:1s;
} */
@media screen and (max-width:576px){
    .site-nav{
        box-shadow:0 0 5px #00000020;
        background-color: #ffffffee;
        backdrop-filter: blur(5px);
    }
    .homeIMG{
        margin-top:50px;
        padding-left:30px;
    }
    .home-content{
        font-size:20px !important;
    }
    .service-content{
        font-size:20px !important;
    }
    .mobile-view{
    
    display: flex;
    justify-content:space-around;
    }
    .CompanyErx{
        padding-top: 30px;
    }
    .cost{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .costheader{
        
        padding-top:50px;
    }
    .mobile-graph{
        flex-direction: column-reverse;
        padding-top: 19px;
    }
    .mobile-graph-1{
        padding-top: 20px;
    }
    .contact{
        padding-top: 30px;
    }
    .about-content{
        padding-top:80px;
        
    }
    .about-we{
        font-size:30px !important;
    }
    .step-content{
        font-size:30px !important;
    }
    .about-choose{
        padding-top: 20px;
        font-size:30px !important;
    }
    .about-news{
        padding-top:20px;
        font-size:30px !important;
        padding-bottom: 0 !important;
    }
    .about-contact{
        padding-top:20px;
        font-size:30px !important;
    }
    .service{
       
        margin-top:30px ;
    }
    .service-content{
        font-size:30px !important;
    }
    .serviceContent-1{
        font-size:30px !important;
    }
    .service-content-2{
        padding-top: 20px;
    }
    .service-content-3{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .rounded{
      height:300px !important;
    }
    .blog-content-1{
        font-size:30px !important;
        padding-bottom:20px !important;
        margin-top: -40px;
    }
    .blog-1{
       
    }
    .contact-1{
        padding-top:100px !important;
        font-size:30px !important;
        margin-bottom: -43px;

    }
    .contact-2{
        padding-bottom:50px !important;
    }
    .final-contact{
        margin-bottom: 50px;
    }
    .blog-page{
        margin-bottom: -100px;     
   
    }
    .blog-btn{
        padding: 10px;
    }
    .blog-final{
        margin-top: -68px;
    }
}